{% extends 'app/dummy.html' %}
{% block title %}
    
    <title>Registration</title>
{% endblock %}

{% block body_block %}
    <center>
    <h1>ASK QUESTION</h1>
    </center> 
    <div    class="container"  >
        <h2>{{ question.title }}</h2>
        <p>{{ question.description }}</p>
        <h3>Answer the Question</h3>
        
            <form method="POST"  >
                {% csrf_token %}
                
                    {{aqo.as_p}}
                  
                    <center><input type="submit" value="post-answert"></center><br><br><br><br>
                    
                    
            </form>
       
          
{% endblock %}